.page-btn {
  width: 32px;
  height: 32px;
  margin: 0 5px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
  cursor: pointer;
}

.slide {
  margin: 0 15px;
}

.active {
  color: red;
}

.pagination {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
